/* .navbar .navbar-menu .navbar-item{
  padding-top: 2em;
  padding-bottom: 2em;
} */

.class{
  background-color: inherit;
}

.info-top-menu{
  text-align: right;
  font-size: 10pt;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-right: 1rem;
}


.has-image-centered {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}

.footer{
  padding: 3rem 1.5rem 2rem;
}

.fixed-top{
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 30;
}

.navbar-brand{
  position: absolute;
  top: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  z-index: 40;
  background-color: black;

  -webkit-box-shadow: 15px -4px 20px -15px rgba(0,0,0,0.75);
  -moz-box-shadow: 15px -4px 20px -15px rgba(0,0,0,0.75);
  box-shadow: 15px -4px 20px -15px rgba(0,0,0,0.75);
}
.navbar-item img{
  max-height: 4rem;
}
